body {
    margin: 0;
    padding: 0;
  }
  
  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(qqq.jpg);
    background-size: cover;
    filter: brightness(0.8);
    opacity: 0.7; /* 設置透明度為0.8 */
  }
  
  #content {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
  }
  
  #photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  #name {
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #fffefe;
  }
  
  #id {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #fffefe;
  }
  
  #link-button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #fefcfc;
    border-radius: 30px;
    font-size: 24px;
    color: #fffefe;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  #link-button:hover {
    background-color: #fff;
    color: #000;
  }
  
  #title {
    font-size: 36px;
    margin-top: 2px;
    margin-bottom: 30px;
    color: #fffefe;
  }
  
  #links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

  }
  
  #links a {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: 2px solid #f9f9f9;
    border-radius: 30px;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  #links a:hover {
    background-color: #fff;
    color: #000;
  }
  
  #back-button {
    display: inline-block;
    margin-top: 50px;
    padding: 10px 20px;
    border: 2px solid #f5f2f2;
    border-radius: 30px;
    font-size: 24px;
    color: #fcf7f7;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  #back-button:hover {
    background-color: #fff;
    color: #000;
  }
  